div, ul, li, img {
            margin: 0;
            padding: 0;
        }

        .jcarousel-wrapper {
            position: relative;
            width: 1000px;
            height: 300px;
        }

        .jcarousel {
            width: 1000px;
            height: 300px;
            position: relative;
            overflow: hidden;
        }

        .jcarousel ul {
            width: 20000em;
            position: relative;
            list-style: none;
        }

        .jcarousel ul li {
            float: left;
        }

        .jcarousel ul li img {
            width: 1000px;
            height: 300px;
        }

        .jcarousel-pagination {
            position: absolute;
            bottom: 20px;
            right: 15px;
        }

        .jcarousel-pagination a {
            text-decoration: none;
            display: inline-block;
            width: 10px;
            height: 10px;
            text-align: center;
            margin-right: 5px;
            background-color: #fff;
        }

        .jcarousel-pagination a.active {
            background-color: #0a7f99;
        }